@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h2>Create HotelRoom</h2>

<h4>HotelRoom</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="HotelID"></label>
                <select asp-for="HotelID" asp-items="ViewBag.HotelID"></select>
            </div>
            <div>
                <label asp-for="RoomID"></label>
                <input asp-for="RoomID" />
                <span asp-validation-for="RoomID"></span>
            </div>
            <div>
                <label asp-for="RoomNumber"></label>
                <input asp-for="RoomNumber" />
                <span asp-validation-for="RoomNumber"></span>
            </div>
            <div>
                <label asp-for="Rate"></label>
                <input asp-for="Rate" />
                <span asp-validation-for="Rate"></span>
            </div>
            <div>
                <div>
                    <label>
                        @Html.DisplayNameFor(model => model.PetFriendly)
                    </label>
                    <input asp-for="PetFriendly" />
                </div>
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>