@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h2>Edit HotelRoom</h2>

<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="HotelID" />
            <input type="hidden" asp-for="RoomID" />
            <div>
                <label asp-for="RoomNumber"></label>
                <input asp-for="RoomNumber" />
                <span asp-validation-for="RoomNumber"></span>
            </div>
            <div>
                <label asp-for="Rate"></label>
                <input asp-for="Rate" />
                <span asp-validation-for="Rate"></span>
            </div>
            <div>
                <div>
                    <label>
                        <input asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                    </label>
                </div>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>