@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <h1>Welcome to Async Inn</h1>

    <div>
        <a href="/">HOME</a>
        <a href="/Hotel">HOTEL</a>
        <a href="/HotelRoom">HOTEL ROOM</a>
        <a href="/Room">ROOM</a>
        <a href="Amenity">AMENITY</a>
        <a href="RoomAmenities">ROOM AMENITIES</a>
    </div>
       
    

</body>